[[language]]
name = "go"
formatter = { command = "goimports" }
language-servers = ["gopls", "golangci-lint-lsp"]

[[language]]
name = "elixir"
auto-format = true

[[language]]
name = "gleam"
auto-format = true

[[language]]
name = "odin"
auto-format = true
formatter = { command = "odinfmt-arm64-darwin -stdin" }
language-servers = ["odin-lsp"]

[language-server.golangci-lint-lsp]
command = "golangci-lint-langserver"

[language-server.golangci-lint-lsp.config]
command = ["golangci-lint", "run", "--output.json.path", "stdout", "--show-stats=false", "--issues-exit-code=1"]

[language-server.odin-lsp]
command = "ols-arm64-darwin"
