[language-server.golangci-lint-lsp]
command = "golangci-lint-langserver"

[language-server.golangci-lint-lsp.config]
command = ["golangci-lint", "run", "--out-format", "json", "--issues-exit-code=1"]

[[language]]
name = "go"
formatter = { command = "goimports" }
language-servers = [ "gopls", "golangci-lint-lsp" ]

[[language]]
name = "elixir"
auto-format = true

[[language]]
name = "gleam"
auto-format = true
